@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --border: #e5e5e5;
  --accent-900: #1c1917;
  --accent-muted: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-instrument-serif);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card: #1c1917;
  /* stone-900 */
  --card-foreground: #ededed;
  --border: #292524;
  /* stone-800 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}